<div class="row">
  <div class="col-lg-12">
    <div class="row">
      <div class="col-lg-1 col-lg-push-7">
        <svg width="435px" height="625px"
          xmlns="http://www.w3.org/2000/svg" version="1.1">
          <% @presenter.map.regions.each do |region| %>
            <%= region.to_svg(@presenter.players) %>
          <% if region.land_type.name.length < 5 %>
            <text x="<%= region.coordinates[2]["x"] + 15 %>" y="<%= region.text_name_coordinate_y %>"><%= region.land_type.name.capitalize %></text>
        <% elsif region.land_type.name.length == 6 %>
            <text x="<%= region.coordinates[2]["x"] + 5 %>" y="<%= region.text_name_coordinate_y %>"><%= region.land_type.name.capitalize %></text>
        <% elsif region.land_type.name.length == 8 %>
            <text x="<%= region.coordinates[2]["x"] - 5 %>" y="<%= region.text_name_coordinate_y %>"><%= region.land_type.name.capitalize %></text>
        <% else %>
            <text x="<%= region.coordinates[2]["x"] %>" y="<%= region.text_name_coordinate_y %>"><%= region.land_type.name.capitalize %></text>
        <% end %>
          <% if region.id > 9 %>
            <text x="<%= region.text_id_coordinate_x - 10 %>" y="<%= region.text_id_coordinate_y %>"><%= region.id %></text>
        <% else %>
            <text x="<%= region.text_id_coordinate_x - 5 %>" y="<%= region.text_id_coordinate_y %>"><%= region.id %></text>
        <% end %>
        <% end %>
        </svg>
      </div>
      <div class="col-lg-4">
        <table class="table table-bordered table-striped table-condensed table-responsive">
          <tr>
            <th colspan="2" class="info">Gameboard</th>
          </tr>
          <tr>
            <td>Turns left</td>
            <td><%= @presenter.turn_tracker.turns_left %></td>
          </tr>
          <tr>
            <td>Actual Turn</td>
            <td><%= @presenter.turn_tracker.actual_turn %></td>
          </tr>
          <tr>
            <td>Player</td>
            <td><%= @presenter.player.name %></td>
          </tr>
          <tr>
            <td>Color</td>
            <td><%= @presenter.player.color %></td>
          </tr>
          <tr>
            <td>Race</td>
            <td><%=@presenter.player.races[0].name%></td>
          </tr>
          <tr>
            <td>Troops Number</td>
            <td><%= @presenter.player.races[0].troops_number%></td>
          </tr>
          <tr>
            <td>Start Position</td>
            <td> <%= @presenter.player.cardinal_point %> </td>
          </tr>
          <tr>
            <td>Occupied Regions</td>
            <td>
              <% territories = ""  %>
              <% @presenter.player.occupied_regions.each {|region| territories += region.id.to_s + " "} %>
              <%= territories %>
            </td>
          </tr>
          <tr>
            <td>Lands that can be conquered</td>
            <td>
              <% @presenter.map.regions.each do |region| %>
                <% region_id = region.id %>
              <% @presenter.player.occupied_regions.each do |occupied_region| %>
                <% if region_id != occupied_region.id %>
                <%= region.id if @presenter.player.can_attack_region?(region) %>
            <% end %>
            <% end %>
            <% end %>
            </td>
          </tr>
        </table>
        <form action="/play_turn" method="post" class="well">
          <fieldset>
            <% if @presenter.player.can_yet_attack?(@presenter.map) %>
              <legend><h4>Which Land Do You Want To Attack ?</h4></legend>
          <% else %>
              <legend><h4>Not Enough Troops</h4></legend>
          <% end %>
            <div class="col-lg-12">
              <% @presenter.map.regions.each do |region| %>
                <% if @presenter.player.occupied_regions.include?(region) == false %>
                <% if @presenter.player.can_attack_region?(region) %>
                <div class="radio">
                <label><input type="radio" name="land" value="<%= region.id %>"><%= region.id %></label>
                <% if @presenter.player.occupied_regions.include?(region) == false %>
                  <label> Defense : <%= region.neutral_defense_points %></label>
              <% else %>
                  <label> Defense : <%= region.player_defense %></label>
              <% end %>
              </div>
            <% end %>
            <% end %>
            <% end %>
            </div>
            <input type="hidden" name="name" value="<%= @presenter.player.name %>">
            <% if @presenter.player.can_yet_attack?(@presenter.map) %>
              <input class="col-lg-4 col-lg-offset-4 btn btn-primary" type="submit" value="Invade">
          <% else %>
              <input class="col-lg-4 col-lg-offset-4 btn btn-default" type="submit" value="Finish Turn">
          <% end %>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
</div>
</div>
