<div class="row">
  <div class="col-lg-12">
    <div class="row">
      <div id="drawing" class="col-lg-1 col-lg-push-6">
      </div>
      <div class="col-lg-4">
        <table class="table table-bordered table-striped table-condensed table-responsive">
          <tr>
            <th colspan="2" class="info">Gameboard</th>
          </tr>
          <tr>
            <td>Turns left</td>
            <td id="turn_left"><%= @presenter.turn_tracker.turns_left %></td>
          </tr>
          <tr>
            <td>Actual Turn</td>
            <td><%= @presenter.turn_tracker.actual_turn %></td>
          </tr>
          <tr>
            <td>Player</td>
            <td id="player_name"><%= @presenter.player.name %></td>
          </tr>
          <tr>
            <td>Color</td>
            <td><%= @presenter.player.color %></td>
          </tr>
          <tr>
            <td>Race</td>
            <td><%=@presenter.player.races.first.name%></td>
          </tr>
          <tr>
            <td>Troops Number</td>
            <td id="troops_number"><%= @presenter.player.races.first.troops_number%></td>
          </tr>
          <tr>
            <td>Start Position</td>
            <td> <%= @presenter.player.cardinal_point %> </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
